.App {
  background-color: #ecebe9;
  width: 100%;
  height: 100%;
}

/* @font-face {
  font-family:Montserrat;
  src: url(assets/Montserrat//Montserrat-Black.ttf);
} */

:root {
  --white: #f9f9f9;
  --white-two: #ffffff;
  --weird-green: #57e690;
  --pastel-orange:  #ff915b;
  --pale-orange:  #ffbe5b;
  --kiwi-green:  #8fe360;
  --light-gold:  #ffdf5b;



  /* other color */
  --black:  #303030;
  --brown:  #cfb995;
  --brown-two:  #d0ba93;
  --black-two:  #5e5e5e;
  --gray: #b2b2b2;
  --red: #ff5b5b;
  --light-blue:  #57dbe6;

}
ul {
  margin: 0;
}
li{
  list-style: none;
}

a{
  text-decoration: none;
}